<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="stylesheets/styles.css" />
  <title>Super Special Shopping Admin Page</title>
</head>

<body>
  <div id="admin" class="content">
    <h1>Store Managemnt Interface</h1>
    <div class="add">
      <form v-on:submit.prevent="addProduct">
        <p>Product Name <input v-model="name"></p>
        <p>Price <input v-model="price"></p>
        <p>Picture URL <input v-model="url">
          <input type="submit" value="Add Product">
        </p>
      </form>
      </div>
      <div>
        <input type="file" name="photo" @change="fileChanged">
        <button @click="upload">Upload</button>
      </div>
      <p>uploaded photo url: {{photoURL}}</p>
      <h1>Current Products</h1>
        <div v-for="product in products">
          <p><button v-on:click="deleteProduct(product)">delete</button>
          {{product.name}} - price ${{product.price}} -  ordered {{product.numOrdered}} </p>
          <img v-bind:src="product.url" height="100px">
        </div>
      <!-- <div class="upload" v-if="addItem">
        <h2>{{addItem.title}}</h2>
        <img :src="addItem.path" />
        <p>{{addItem.description}}</p>
      </div>
    </div>
    <div class="heading">
      <div class="circle">2</div>
      <h2>Edit/Delete an Item</h2>
    </div>
    <div class="edit">
      <div class="form">
        <input v-model="findTitle" placeholder="Search">
        <div class="suggestions" v-if="suggestions.length > 0">
          <div class="suggestion" v-for="s in suggestions" @click="selectItem(s)">{{s.title}}
          </div>
        </div>
      </div>
      <div class="upload" v-if="findItem">
        <input v-model="findItem.title"><br>
        <textarea v-model="findItem.description"></textarea>
        <p></p>
        <img :src="findItem.path" />
      </div>
      <div class="actions" v-if="findItem">
        <button @click="deleteItem(findItem)">Delete</button>
        <button @click="editItem(findItem)">Edit</button>
      </div>
    </div> -->
  </div>

  <div class="footer">
    <a href="index.html">Return to homepage</a>
  </div>
  <div class="footer gitLink">
    <p>Github link: <a href="https://github.com/BYUCS260/lab-5-mongodb-wizerdrea">https://github.com/BYUCS260/lab-5-mongodb-wizerdrea</a></p>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" integrity="sha256-mpnrJ5DpEZZkwkE1ZgkEQQJW/46CSEh/STrZKOB/qoM=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.7/vue.js" integrity="sha256-g+Q8DFAmG5+eyRPSydX0LY4TfjsL11XSDrIGerbbEdA=" crossorigin="anonymous"></script>
  <script src="javascripts/admin.js"></script>
</body>

</html>
