body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  background: #fff;
  padding: 0px;
  margin: 20px;
  text-align: center;
  background-color: lightgray;
}

form {
  text-align: left;
}

.productDescription {
  border-bottom-style: dashed;
  border-bottom-color: black;
  padding-bottom: 15px;
}

.stuff {
  text-align: center;
}

/* Footer */
.footer {
  margin-top: 20px;
  height: 50px;
}


/* Content */
.content {
  padding: 20px 100px 0px 100px;
}


/* Admin */

.add{
  display: flex;
  border-style: solid;
  border-bottom-color: black;
  padding: 25px;
  margin: 10px;
}

/* Form */
input, textarea, select, button {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
}


.form {
  margin-right: 50px;
}

/* Uploaded images */
.upload h2 {
  margin: 0px;
}

.upload img {
  max-width: 300px;
}